body{
	margin: 0 auto;
}

.header{
	display: flex;
	justify-content: space-between;
	position: relative;
	background: linear-gradient(to right, #000 32%, #fff 32%);
}

.header__logo{
	display: flex;
	align-items: center;
	padding-left: 52px;
	font: normal 30px/37px montserratregular, arial, helvetica, sans-serif;
	color: #fff;
}

.lang{
	display: flex;
	margin-right: 46%;
	align-items: center; 
	cursor: pointer;
	font: 500 20px/24px montserratregular, arial, helvetica, sans-serif;
	color: #fff;
}

.lang__button{
	cursor: pointer;
	content: "";
	display: inline-block;
	background: #000;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	width: 6px;
	height: 6px;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
	margin-left: 12px;
}

.lang__button:hover {
	opacity: .5;
	transition: opacity 1s ease-out;
}

.lang__box{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	visibility: hidden;
	top: 60px;
	left:27%;
	margin: 0;
	list-style: none;
	text-align: center;
	background-color: #000;
}

.lang__box_item {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 500 20px/24px montserratregular, arial, helvetica, sans-serif;
	text-decoration: none;
	color: #fff;
 }

.lang__box_item:hover {
	opacity: .5;
	transition: opacity 1s ease-out;
}
.menu {
	display: flex;
	align-items: center; 
	justify-content: center; 
	width: 92px;
	height: 92px;
	background: #E5E5E5;
}

.menu__button{
	display: flex;
	align-items: center;
	width: 35px;
	height: 12px;
	cursor: pointer;
	z-index: 1;
}

.menu__button:hover {
	opacity: .5;
	transition: opacity 1s ease-out;
}


.menu__button > span,
.menu__button > span::after,
.menu__button > span::before {
	display: block;
	position: relative;
	width: 100%;
	height: 4px;
	background-color: #E5E5E5;
}

.menu__button > span::after{
	content: '';
	top: 1px;
	background-color: #000;
}
.menu__button > span::before{
	content: '';
	top: -5px;
	background-color: #000;
}

.menu__box{
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	top: 0;
	right: 0;
	width: 30%;
	height: 650px;
	margin: 0;
	list-style: none;
	text-align: center;
	background-color: #E5E5E5;
}

.menu__box_item {
	display: flex;
	font: 500 20px/24px montserratregular, arial, helvetica, sans-serif;
	text-decoration: none;
	color: #000;
	width: max-content;
 }

.menu__box_item:hover {
	opacity: .5;
	transition: opacity 1s ease-out;
}

#menu__toggle:checked ~ .menu__button > span::before {
	top: 0;
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__button > span::after {
	transform: rotate(135deg);
}	
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
}

#lang__toggle:checked ~ .lang__box {
	visibility: visible;
}

#lang__toggle:checked ~ .lang__button {
	transform: rotate(135deg);
}
#lang__toggle{
	display: none;
}

#menu__toggle{
	display: none;
}

.content {
	background: linear-gradient(to right, #000 32%, #fff 32%);
	height: 83vh;
	display: grid;
	grid-template-columns: 10% 40% 50%;
	grid-template-rows: 15% 70% 15%;
	justify-content: space-evenly;

}   

.content__picture {
	grid-column: 2;
	grid-row: 2; 
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: space-evenly;
}

.main_picture {
	width: 90%;
	height: auto;

}

.content-container {
	width: 500px;
	height: auto;
	grid-column: 3;
	grid-row: 2;
	border: dashed 1px red;
	display: flex;
	flex-flow: column nowrap;
}

/*.main {
	font: bold 80px/82px montserratbold, arial, helvetica, sans-serif;
}*/
.main__title{
	font: bold 80px/82px montserratbold, arial, helvetica, sans-serif;
	margin: 94px 0 0 0;

}